/* buysellsection.css */
.buysell-card {
  width: 350px;
  height: 200px;
  background: linear-gradient(135deg, #1e5799 0%, #2989d8 50%, #207cca 100%);
  border-radius: 15px;
  color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
  position: relative;
  overflow: hidden;
}

.buysell-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.buysell-card-header {
  border-bottom: 1px solid #c4bdbd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.buysell-title {
  font-size: 24px;
  margin: 0;
  color:rgb(8, 220, 244)
}

.buysell-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buysell-card-info {
  margin-bottom: 20px;
}

.buysell-info {
  font-size: 18px;
  margin: 0;
  color: wheat;
}

.buysell-button {
  background-color: #fd6e00;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.buysell-button:hover {
  background-color: #00bd2f;
  transform: translateY(-3px);
}