/* Navbar.css */

nav {
    background-color: rgb(0, 0, 0);
    margin-top: 5%;

    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li {
    color: #fff;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
}

nav ul li:hover {
    background-color: #007bff;
    transform: scale(1.1);
}

nav ul li.active {
    background-color: #0056b3;
    border-radius: 5px;
}