.admin-crypto-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.admin-crypto-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.admin-search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.admin-search-select {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.admin-crypto-grid {
  display: flex;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #a8bfd4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 250px;
  margin: 0 auto;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 400px;
}

.admin-crypto-grid::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.admin-crypto-grid {
  -ms-overflow-style: none;  /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

.admin-crypto-card {
  margin: auto;
  min-width: 250px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  scroll-snap-align: center;
}

.admin-crypto-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.admin-crypto-name, .admin-crypto-symbol, .admin-crypto-price, .admin-crypto-supply {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

.admin-crypto-name {
  font-weight: bold;
  color: #007bff;
}

.admin-crypto-symbol {
  color: #555;
}

.admin-crypto-price {
  color: #28a745;
}

.admin-crypto-supply {
  color: #e54414;
}