.paget {
  padding: 40px;
  background-color: #f0f2f5;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column; /* Add this line */
  align-items: center; /* Add this line */
  max-height: 100vh;
}

.transactions {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.transactions::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
  


.transactions h2 {
  margin-bottom: 30px;
  font-size: 24px;
  color: #333333;
  text-align: center;
}

.transactions ul {
  list-style-type: none;
  padding: 0;
}

.transactions li {
  background-color: wheat;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s, box-shadow 0.2s;
}

.transactions li:hover {
  background-color: whitesmoke;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.transactions .listid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.transactions .listid p {
  margin: 0;
  color: #555555;
}

.back-button {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 24px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.back-button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}