/* watchlist.css */

.watchlist-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.add-crypto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.add-crypto select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 10px;
}

.add-watchlist-btn {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #ff9100;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-watchlist-btn:hover {
  background-color: #4239e2;
}

.watchlist-items {
  margin-top: 20px;
}

.watchlist-items h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.watchlist-items table {
  width: 100%;
  border-collapse: collapse;
}

.watchlist-items th,
.watchlist-items td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.watchlist-items th {
  background-color: #3f5368;
  color: #fff;
}

.watchlist-items tr:hover {
  background-color: #f1f1f1;
}

.watchlist-items button {
  padding: 5px 10px;
  font-size: 0.875rem;
  color: #fff;
  background-color: #05b805;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.watchlist-items button:hover {
  background-color: #c82323;
  
}

.back-btn{
  padding: 5px 10px;
  font-size: 0.875rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: #b30000;
}